@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: rgb(0, 0, 0);
}
.player-text {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 10vw;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
}
.player-text-border {
  border-color: red;
}
.planet-text-border {
  border-color: #348ceb;
}
.star-text-border {
  border-color: white;
}
.player-label {
  background-color: red;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.planet-label {
  background-color: #348ceb;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.star-label {
  background-color: #fff;
  color: #000;
  width: 100%;
  text-transform: uppercase;
}
#container {
  width: 100%;
  max-width: 400px;
  background: #272727;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.google-login {
  background-color: #00ffff;
  color: white;
}

.google-login:hover {
  background-color: #00ffff;
}
#warp {
  position: absolute;
  padding: 15px;
  font-size: 20px;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 15px;
  color: black;
  background: linear-gradient(to right,#55cfff, #007fb9);
}
#warp-menu {
  position: absolute;
  padding: 15px;
  bottom: 20%;
  right: 0;
  min-width: 20%;
  min-height: 40%;
  margin: 20px;
  border-radius: 15px;
  color: white;
  background: linear-gradient(to right,#003cbd79, #007eb959);
  border-color: #00ffff;
  border-width: 2px;
  border-style: solid;
}
select {
  background-color: #333;   /* Dark background */
  color: #fff;              /* Light text */
  border: 1px solid #555;   /* Slightly lighter border */
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

select:hover {
  border-color: #888;       /* Lighter border on hover */
}

option {
  background-color: #333;   /* Dark background for options */
  color: #fff;              /* Light text for options */
  padding: 8px;
  font-size: 16px;
}

/* Option hover effect */
option:hover {
  background-color: #444;   /* Slightly lighter background on hover */
}

option:checked {
  background-color: #555;   /* Checked option background */
  color: #fff;
}